<div class="container">
  
  <div class="back-button">
    <button mat-raised-button color="accent" class="btn-back" routerLink="/">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
      <span>Return to Pokedex</span>
    </button>
  </div>

  <div class="container-img">
    <img src="../../../assets/fondo/rotom.gif" alt="">
  </div>

  <mat-card class="card-contact">
    <mat-card-content>
      <img class="img-profile" src="../../../assets/fondo/profile.jpg" alt="">
      <p>Name: Jovani Ramirez</p>
      <p>Phone: (55)87-05-63-69</p>
      <p>Email: jovanirmz93@gmail.com</p>
    </mat-card-content>
  </mat-card>
</div>